@model Crowdfunding.Models.ProjectsPackages
@{
    ViewData["Title"] = "ProjectsShow";
}

<h2>ProjectsShow</h2>



<!-- Product T shirt Page -More Detailed -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h2 style="font-size:40px">
    <center> @Html.DisplayFor(model => model.ProjectName) </center>
</h2>
<h3>
    <center> @Html.DisplayFor(model => model.ProjectDescription) </center>
</h3>


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/images/Airbnb.jpg" /></div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3><div class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Location</div></h3>
                            <hr>
                            <h4 class="project-category">@Html.DisplayFor(model => model.ProjectLocation)</h4>
                        </div>
                    </div>
                </div>

                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3><div class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Project Creator</div></h3>
                            <hr>
                            <h4 class="project-category">@Html.DisplayFor(model => model.FirstName)</h4>
                            <h4 class="project-category">@Html.DisplayFor(model => model.EmailAddress)</h4>
                        </div>
                    </div>
                </div>


                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3><div class="panel-title"><span class="glyphicon glyphicon-comment"></span>   Category</div></h3>
                            <hr>
                            <h4 class="project-description">@Html.DisplayFor(model => model.CategoryDescription) </h4>
                        </div>
                    </div>
                </div>


                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-credit-card"></span> Pledged Amount</div></h3>
                        <hr>
                        <h2><font color="purple" class="total money">@Html.DisplayFor(model => model.Price)</h2>   </font>
                    </div>
                </div>


                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>  Backers</div></h3>
                        <hr>
                        <h2><font color="purple" class="total money">@Html.DisplayFor(model => model.TransactionId)</h2>   </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tracking Bar -->
<div class="container">
    <div class="row" style="margin-top:40px">
        <div class="panel">
            <div class="panel-heading" style="margin-left:500px">
                <h3 class="panel-title">Project's Progress</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-sm-3">
                        <strong style="font-size:large">Details</strong>
                        <div class="project-start">
                            @Html.DisplayFor(model => model.StartDate) <br />
                            @Html.DisplayFor(model => model.EndDate) <br />
                            Days to go @Html.DisplayFor(model => model.DaysLeft) <br />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress" style="margin-top:35px">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Html.DisplayFor(model => model.FundedProgress)%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                            <span class="progress-completed">%@Html.DisplayFor(model => model.FundedProgress)</span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div style="margin-left:30px">
                            Goal
                            <h2 class="project-goal"> @Html.DisplayFor(model => model.Target)</h2>
                        </div>
                    </div>
                    @*<div class="col-sm-1">
                            <div class="pull-right" style="width:20px; height:100px">
                                <div class="clickable"><i class="glyphicon glyphicon-resize-small glyphicon-padded"></i></div>
                                <div class="clickable"><i class="glyphicon glyphicon-edit glyphicon-padded"></i></div>
                                <div class="clickable"><i class="glyphicon glyphicon-signal glyphicon-padded"></i></div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="Project_rewrds_List">

    <h3>Packages List</h3>

    <ul>
        @foreach (var item in Model.PackageRewards)
        {
            <li class=" rewards box">
                @Html.DisplayFor(Modelitem => item.Title)
                <div class="pledge info">Rewards: Title @Html.DisplayFor(Modelitem => item.Rewards.Title)</div>
                <div class="pledge info">Price: @Html.DisplayFor(Modelitem => item.Price)</div>
                <div class="pledge info">Rewards Description: @Html.DisplayFor(Modelitem => item.Rewards.Description)</div>
                <div class="pledge info">Amount: @Html.DisplayFor(Modelitem => item.Rewards.Amount)</div>
                <div class="pledge info">Delivery date: @Html.DisplayFor(Modelitem => item.Rewards.DeliveryDate)</div>
                <div class="pledge info">Items Included: @Html.DisplayFor(Modelitem => item.Rewards.ItemsIncluded)</div>
                <div class="card-block p-3">
                    @*<a href="#" class="btn btn-primary rounded-0 mb-2">Back</a>*@
                    @Html.ActionLink("Fund", "Create", "Transactions", new { id = item.ProjectId }, null)
                    @*<input type="button" id="submit" value="Submit" onclick="VivaPayments.cards.requestToken();" />
                    <body>
                        <form id="myform" action="/checkout" method="post">
                            <button type="button"
                                    data-vp-publickey="LZmm8E8FLUJmRMPQFAssIV3mkzsrgQ3wbDIp7XcsZno="
                                    data-vp-baseurl="https://demo.vivapayments.com"
                                    data-vp-lang="en"
                                    data-vp-amount="1000"
                                    data-vp-description="My product"></button>
                        </form>

                        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
                        <script src="https://demo.vivapayments.com/web/checkout/js"></script>
                    </body>*@
                </div>

            </li>
        }
    </ul>
</div>

<br>


<div class="row">
    <div class="col-md-4">
        <h1>Comments</h1>
        <form asp-controller="Comments" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @*@Html.ActionLink("Comment", "Create", "Comments", new { @ID=Model.ProjectId }, null)*@
            </div>

            <div class="form-group">
                <input asp-for="MemberId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ProjectId" type="hidden" class="form-control" />
                @*<input type="text" value="@Model.ProjectId" name="@Html.NameFor(m => m.ProjectId)" />*@
            </div>
            <div class="form-group">
                <label asp-for="Comment1" class="control-label"></label>
                <input asp-for="Comment1" class="form-control" />
                <span asp-validation-for="Comment1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
                @*<input asp-for="Date" type="hidden" class="form-control" value="@ViewData["Date"]" />*@
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="ProjectsShow">Back to List</a>
        </div>


        <ul>
            @foreach (var item in Model.CommentMember)
            {
                <li class="comment List">
                    Comment: @Html.DisplayFor(modelItem => item.Comment1)
                    <div class="pledge info">Date: @Html.DisplayFor(Modelitem => item.Date)</div>
                    <div class="pledge info">Name:@Html.DisplayFor(Modelitem => item.Member.FirstName)</div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Backers</h1>
        <ul>
            @foreach (var item in Model.ListBackers)
            {
                <li class="backers List">
                    Contribution: @Html.DisplayFor(modelItem => item.Packages.Price)
                    <div class="pledge info">Date: @Html.DisplayFor(Modelitem => item.Date)</div>
                    <div class="pledge info">Name:@Html.DisplayFor(Modelitem => item.Member.FirstName)</div>
                    <div class="pledge info">Surname:@Html.DisplayFor(Modelitem => item.Member.LastName)</div>
                </li>
            }
        </ul>

    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="https://github.com/" data-layout="button" data-size="small" data-mobile-iframe="false">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/" class="fb-xfbml-parse-ignore">Share</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}










