@model Crowdfunding.Models.ProjectsPackages
@{
    ViewData["Title"] = "ProjectsShow";
}

<h2 class="project-name">@Html.DisplayFor(model => model.ProjectName)</h2>



<!-- Product T shirt Page -More Detailed -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/images/Airbnb.jpg" /></div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  Location</></h3>
                            <hr>
                            <h4 class="project-category">@Html.DisplayFor(model => model.ProjectLocation)</h4>
                        </div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>Project Creator</></h3>
                            <hr>
                            <h4 class="project-category">@Html.DisplayFor(model => model.FirstName)</h4>                            
                        </div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="rating">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>Category</></h3>
                            <hr>
                            <h4 class="project-description">@Html.DisplayFor(model => model.CategoryDescription) </h4>
                        </div>
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>Pledged Amount</></h3>
                        <hr>
                        <h4><font color="purple" class="total money">@Html.DisplayFor(model => model.Price)</font></h4>   
                    </div>
                </div>
                <div class="details col-md-3">
                    <div class="panel panel-default text-center">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>Backers</></h3>
                        <hr>
                        <h4><font color="purple" class="total money">@Html.DisplayFor(model => model.TransactionId)</font></h4>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tracking Bar -->
<div class="container">
    <div class="row" style="margin-top:40px">
        <div class="panel">
            <div class="panel-heading" style="margin-left:500px">
                <h3 class="panel-title">Project's Status</h3>               
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-sm-3">
                        <strong style="font-size:large">Details</strong>
                        <div class="project-start">
                            Start Date: @Html.DisplayFor(model => model.StartDate) <br />
                            End Date: @Html.DisplayFor(model => model.EndDate) <br />
                            @{                                
                                var remainingDays = Model.EndDate - Model.StartDate;
                            } Remaining: @remainingDays Day/Hour/Min/Sec
                        </div>
                    </div>
                    <div class="col-sm-6">                       
                        @{             
                            var width = Math.Min(Model.FundedProgress, 100);
                         }
                        <div class="progress" style="margin-top:35px">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="@width;" aria-valuemin="0" aria-valuemax="100" style="width: @width%;">
                            </div>
                            <span class="progress-completed">@Model.FundedProgress%</span>
                        </div>
                    </div>
                 
                    <div class="col-sm-2">
                        <div style="margin-left:30px">
                            Target
                            <h2 class="project-goal"> @Html.DisplayFor(model => model.Target)</h2>
                        </div>
                    </div>   
                   
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="Project_rewrds_List">

    <h3>Packages List</h3>
    <ul>
        @foreach (var item in Model.PackageRewards)
         {
            <li class=" rewards box">
                @Html.DisplayFor(Modelitem => item.Title)
                <div class="pledge info">Rewards: Title @Html.DisplayFor(Modelitem => item.Rewards.Title)</div>
                <div class="pledge info">Price: @Html.DisplayFor(Modelitem => item.Price)</div>
                <div class="pledge info">Rewards Description: @Html.DisplayFor(Modelitem => item.Rewards.Description)</div>
                <div class="pledge info">Amount: @Html.DisplayFor(Modelitem => item.Rewards.Amount)</div>
                <div class="pledge info">Delivery date: @Html.DisplayFor(Modelitem => item.Rewards.DeliveryDate)</div>
                <div class="pledge info">Items Included: @Html.DisplayFor(Modelitem => item.Rewards.ItemsIncluded)</div>
                <div class="card-block p-3">                
                    @Html.ActionLink("Back", "Create", "Transactions", new { id = item.ProjectId }, null)
                </div>
            </li>
         }
    </ul>
</div>

<br>


<div class="row">
    <div class="col-md-4">
        <h1>Comments</h1>
        <form asp-controller="Comments" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @*@Html.ActionLink("Comment", "Create", "Comments", new { @ID=Model.ProjectId }, null)*@
            </div>

            <div class="form-group">
                <input asp-for="MemberId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ProjectId" type="hidden" class="form-control" />
                @*<input type="text" value="@Model.ProjectId" name="@Html.NameFor(m => m.ProjectId)" />*@
            </div>
            <div class="form-group">
                <label asp-for="Comment1" class="control-label"></label>
                <input asp-for="Comment1" class="form-control" />
                <span asp-validation-for="Comment1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
                @*<input asp-for="Date" type="hidden" class="form-control" value="@ViewData["Date"]" />*@
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="ProjectsShow">Back to List</a>
        </div>
        <ul>
            @foreach (var item in Model.CommentMember)
             {
                <li class="comment List">
                    Comment: @Html.DisplayFor(modelItem => item.Comment1)
                    <div class="pledge info">Date: @Html.DisplayFor(Modelitem => item.Date)</div>
                    <div class="pledge info">Name:@Html.DisplayFor(Modelitem => item.Member.FirstName)</div>
                </li>
             }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Backers</h1>
        <ul>
            @foreach (var item in Model.ListBackers)
             {
                <li class="backers List">
                    Contribution: @Html.DisplayFor(modelItem => item.Packages.Price)
                    <div class="pledge info">Date: @Html.DisplayFor(Modelitem => item.Date)</div>
                    <div class="pledge info">Name:@Html.DisplayFor(Modelitem => item.Member.FirstName)</div>
                    <div class="pledge info">Surname:@Html.DisplayFor(Modelitem => item.Member.LastName)</div>
                </li>
             }
        </ul>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}










