@model IEnumerable<Crowdfunding.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<!--Search bar-->
<div class="container pb-2" style="margin-top: 50px; margin-left: 700px;">
    <div id="custom-search-input">
        <form asp-action="Index" method="get">
            <div class="input-group col-md-5">
                <input type="text" class="form-control" id="system-search" name="searchInput" placeholder="Search project" required />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" id="search-button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </form>
    </div>
</div>

<!-- Categories -->
<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Projects </h3>

    <div align="center">
        <button class="btn btn-default filter-button" data-filter="all">All Categories</button>
        @foreach (var item in Model.Select(m => m.ProjectCategory).Distinct().ToList())
        {
            <button class="btn btn-default filter-button" data-filter=@Html.DisplayFor(modelItem => item.CategoryId)> @Html.DisplayFor(modelItem => item.CategoryDescription)</button>
        }
    </div>
    <br />
    <!-- End of Categories -->
    <!-- Projects -->
    <hr class="bg-dark mb-4 w-25">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card-filter @Html.DisplayFor(modelItem => item.ProjectCategory.CategoryId)">
                    <img class="card-img-top" src="~/images/empty.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProjectName)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ProjectDescription)</p>                        
                        @Html.ActionLink("Read More", "ProjectsShow", "Projects", new { id = item.ProjectId }, new {@class="btn btn-primary rounded-0 mb-2" })
                        @Html.ActionLink("Fund", "Create", "Transactions", new { id = item.ProjectId }, new { @class = "btn btn-primary rounded-0 mb-2" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- End of Projects -->
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Footer -->
<footer class="footer bg-dark text-white">
    <!-- Social Icons -->
    @*<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-share-button" data-href="http://localhost:64710/" data-layout="button" data-size="small" data-mobile-iframe="false">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A64710%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
    </div>*@
    <div class="bg-info">
        <div class="container">
            <div class="row py-4">


            </div>
        </div>
    </div>



    <!-- Social Icons -->
    <!-- Footer Links -->
    <div class="container pt-5 pb-2">
        <div class="row">
            <div class="col-lg-1 col-xl-3 mx-5">
                <h4 class="mb-0 white-text">Connect with us!</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50">
                <p><a href="https://www.facebook.com/codehubgr/" class="fa fa-facebook m-3 fa-2x" style="color:white"></a>
                    <a href="https://twitter.com/search?q=%23codehub" class="fa fa-twitter white-text m-3 fa-2x" style="color:white"></a>
                    @*<a href="https://plus.google.com/" class="fa fa-google-plus white-text m-2 fa-1x" style="color:white"></a>*@
                    <a href="https://www.linkedin.com/company/code.hub/" class="fa fa-linkedin white-text m-3 fa-2x" style="color:white"></a>
                    @*<a href="https://www.instagram.com/" class="fa fa-instagram white-text m-2 fa-1x" style="color:white"></a>*@
                </p>
            </div>
            <div class="col-lg-2 col-xl-3 mx-5">
                <h4>Useful links</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50">
                <p><a href="#" class="text-white">Home</a></p>
                <p><a href="#" class="text-white">About</a></p>
                <p><a href="#" class="text-white">Contact</a></p>
                <p><a href="#" class="text-white">Start a Project</a></p>
            </div>
            <div class="col-lg-3 col-xl-3 mx-5">
                <h4>Contact</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-50">
                <p><i class="fa fa-home mr-3"></i>Kifisia</p>
                <p><i class="fa fa-envelope mr-3"></i> info@crowdfunder.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 30 6945 023 344</p>
                <p><i class="fa fa-print mr-3"></i> + 30 698 345 954</p>
            </div>           
        </div>
    </div>

        <!-- Copyright-->
        <div class="container-fluid">
        </div>
        <!-- Copyright -->
</footer>
<!-- Footer -->
